	.page04 {
		&__footer {
			background-color: #2f303a;
			&__wrapper {
				padding: 60px 8px;
				display: flex;
				gap: 70px;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
			&__logo {
				color: #fff;
				font-size: 26px;
				font-weight: 700;
				font-family: "Roboto", sans-serif;
				padding-bottom: 20px;
			}
			&__menu {
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 230px;
			}
			&__menu li {
				color: #ffffff99;
				font-size: 14px;
				font-weight: 400;
				transition: 0.3s;
				font-family: "Roboto", sans-serif;
			}
			&__menu li:hover {
				color: #fff;
			}
			&__join {
				> p {
					color: #fff;
					font-size: 14px;
					font-weight: 700;
					padding-bottom: 20px;
					width: 200px;
				}
				> ul {
					display: flex;
					gap: 10px;
					> li {
						border-radius: 50%;
						background-color: #ffffff1a;
						padding: 10px;
						transition: 0.3s;
						> a > i {
							font-size: 20px;
							color: #fff;
						}
						&:hover {
							background-color: #2196f3;
						}
					}
				}
			}
			&__form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				gap: 20px;
				> p {
					font-size: 14px;
					font-weight: 700;
					color: #fff;
					text-transform: uppercase;

				}
				> .inputs {
					display: flex;
					gap: 20px;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					> input {
						border: 1px solid #ffffff4d;
						padding: 15px 0 15px 15px;
						background-color: transparent;
						border-radius: 4px;
						width: 350px;
						outline: none;
						color: #fff;
						height: 50px;
						&::placeholder {
							color: #ffffff4d;
						}
					}
					> button {
						display: flex;
						gap: 10px;
						background-color: #2196f3;
						border-radius: 4px;
						padding: 13px 28px;
						border: none;
						color: #fff;
						align-items: center;
						font-size: 16px;
						font-weight: 700;
						cursor: pointer;
						height: 50px;
					}
				}
			}
		}
	}
