@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.cyan {
	color: #2196f3;
}

.page04 {
	&__header {
		width: 100%;
		background-color: #ffffff;
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
		}
		&__nav {
			display: flex;
			padding: 25px 0;
			align-items: center;
			width: 100%;
			> .burgerOpen {
				display: flex;
				cursor: pointer;
				max-width: 24px;
				gap: 4px;
				flex-direction: column;
				background-color: transparent;
				border: none;
				max-height: 16px;
				> div {
					border: 2px #212121 solid;
					width: 24px;
				}
			}
		}
		&__menu {
			display: flex;
			gap: 50px;
			align-items: center;
		}
		&__item {
			> a {
				color: #000;
				font-size: 14px;
				font-weight: 500;
				font-family: "Roboto", sans-serif;
				transition: 0.3s;
			}
			.webstudio__active {
				color: #2196f3;
				position: relative;
				&::after {
					content: "";
					width: 100%;
					position: absolute;
					bottom: -44px;
					left: 0;
					border: #2196f3 solid 2px;
					border-radius: 2px;
				}
			}
		}
		&__item a:hover {
			color: #2196f3;
		}
		&__logo {
			padding-right: 50px;
			font-size: "Raleway" sans-serif;
			color: #000;
			font-size: 26px;
			font-weight: 700;
			> .cyan {
				font-family: "Oleo-script";
				font-size: 26px;
				font-weight: 400;
				line-height: 36px;
			}
		}
		&__logo span {
			font-weight: 400;
		}
		&__address {
			display: flex;
			gap: 30px;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		&__address a {
			font-size: 14px;
			font-weight: 500;
			font-family: "Roboto", sans-serif;
			color: #757575;
			transition: 0.3s;
		}
		&__address a:hover {
			color: #2196f3;
		}
	}
}
