.main__fortfolio {
	&__hero {
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 40px;
			align-items: center;
			justify-content: center;
			padding-top: 100px;
		}
		&__nav {
			display: flex;
			flex-direction: row;
			gap: 10px;
			> li > .webstudio__active__btn {
				background-color: #2196f3;
				color: #f5f4fa;
			}
			> li > a {
				background-color: #f5f4fa;
				padding: 6px 22px;
				transition: 0.3s;
				font-size: 16px;
				font-weight: 500;
				color: #212121;
				border-radius: 4px;
				&:hover {
					background-color: #2196f3;
					color: #f5f4fa;
				}
			}
		}
		&__projects {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
			padding-bottom: 95px;
			> li > a {
				max-width: 370px;
				max-height: 400px;
				display: flex;
				flex-direction: column;
				position: relative;
				transition: 0.3s;
				&:hover > div {
					display: block;
					height: 295px;
					transition: 0.3s;
				}
				> div {
					background-color: #2196f3e5;
					position: absolute;
					top: 0;
					left: 0;
					height: 1px;
					display: none;
					width: 100%;
					padding: 24px;
					color: #ffffff;
					font-weight: 400;
					font-size: 18px;
					pointer-events: none;
					transition: 0.3s;
				}
				> img {
					max-width: 370px;
					max-height: 300px;
				}
				> h3 {
					color: #212121;
					font-weight: 700;
					font-size: 18px;
					padding: 20px 25px;
				}
				> p {
					color: #757575;
					font-size: 18px;
					font-weight: 400;
					padding: 0 0 20px 25px;
				}
			}
		}
	}
}
